<app-header></app-header>
<div id="chatbot-page-container" class="ege-panel-main-container mgPlayerJSTest_chatbot-page-container" data-ng-init="onloadchat()" onbeforeunload="unloadpage()">
    <div class='mgPlayerJSTest_chat-page-header list-page-header'>
        <div>
            
            <div class="ege-inline-block-vm mgPlayerJSTest_chat-back-btn mgPlayerJSTest_position-relative" ng-click="onBack()">
                <div class='ege-inline-block-vm' ng-bind-html="$root.svgs.iconBack | unsafe">
                </div>
                <div class='mgPlayerJSTest_title-tooltip-wrapper mgPlayerJSTest_position-left'>
                    <div class="mgPlayerJSTest_tooltip-title">{{$root.labels.back}}</div>
                </div>
            </div>
            
            <div class='chatbot-add-icon ege-inline-block-div' ng-if="$root.isUserLoggedIn()">
               <!--  <div class="chatbot-add-icon-svg ege-inline-block-vt"  ng-include="'icons/chatbot.html'">
                </div> -->
                <span class="mychat-label ege-inline-block-vt">{{$root.labels.chatbot}}</span>
            </div> 
            
            <!-- <div id="btnmute" class='muteunmuteicon category-add-icon ege-inline-block-div' 
            ng-if="$root.isUserLoggedIn()" ng-click="onMuteUnmute()">     
                <div class='mgPlayerJSTest_title-tooltip-wrapper mgPlayerJSTest_position-bottom-left'>
                    <div class="mgPlayerJSTest_tooltip-title">{{$root.labels.mute_unmute}}</div>
                </div>
            </div>  -->
            
            <div class='ege-clear'></div>
            <div class='ege-clear'></div>
        </div>
    </div>
    <div id="uilb-main-container" scroll-bottom="uilb-main-container"  class="uilb-main-container">
        <div id="botdiv" ></div>
        <div id="div_bottom"></div>
    </div>
    
    <footer-panel></footer-panel>
</div>